@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Shippori+Mincho&family=Shippori+Mincho+B1&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Passion+One:wght@400;700;900&family=Shippori+Mincho&family=Shippori+Mincho+B1&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 500vh;
}

:root{
    --color1: #7F0B28;

    --font1: "Shippori Mincho", serif;
    --font2: "Gideon Roman", serif;
}

.container{
    max-width: 1280px;
    margin: auto;
}



header{
    width: 100vh;
    padding: 40px 4%;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .6s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 30px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: .9em;
}

.banner{
    height: 100vh;
    background: url('../imagens/image01.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 300px;
}

.banner h1{
    padding: 20px;
    font-weight: normal;
}
.banner h2{
    padding: 30px;
    font-size: 5em;
    font-family: var(--font1);
}

.banner p{
    padding: 20px;
}

header.rolagem{
    background-color: var(--color1);
    padding: 30px;
    width: 100vw;
}

.btn-buy-ticket{
    border: none;
    font-size: 1em;
    padding: 15px 40px;
    margin-top: 30px;
    font-variant: small-caps;
}

.btn-buy-ticket:hover{
    border: 1px solid #fff;
    background-color: rgb(48, 48, 48);
    color: #fff;
    transition: .5s all;
}

.normal{
    min-height: 500px;
    background-color: var(--color1);
    color: #fff;
    text-align: center;
    padding-top: 150px;
}

.normal h1{
    font-size: 1.3em;
    font-family: var(--font2);
    font-weight: normal;
    padding-bottom: 20px;
}

.normal h2{
    font-size: 2.7em;
    font-family: var(--font1);
}

.normal p{
    margin: auto;
    text-size-adjust: inherit;
    width: 400px;
    text-align: center;
    padding-top: 40px;
}

.img1{
    background: no-repeat;
    margin: auto;
    margin-left: 400px;
    padding-top: 100px;
}

.img2{
    margin: auto;
    margin-left: 400px;
    padding-top: 100px
}