@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Shippori+Mincho&family=Shippori+Mincho+B1&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Passion+One:wght@400;700;900&family=Shippori+Mincho&family=Shippori+Mincho+B1&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 500vh;
}

:root{
    --color1: #7F0B28;

    --font1: "Shippori Mincho", serif;
    --font2: "Gideon Roman", serif;
}

.container{
    max-width: 1280px;
    margin: auto;
}



header{
    width: 100vh;
    padding: 40px 4%;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .6s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 30px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: .9em;
}

.banner{
    height: 100vh;
    background: url('../imagens/img02.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 300px;
}

.banner h1{
    padding: 20px;
    font-weight: normal;
}
.banner h2{
    padding: 30px;
    font-size: 5em;
    font-family: var(--font1);
}

.banner p{
    padding: 20px;
}

header.rolagem{
    background-color: var(--color1);
    padding: 30px;
    width: 100vw;
}

